/* paramètre couleur */
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$new-color: #03510c;
$hover-button: #F5EDFF;
$loader-background: #F5EDFF;
$banner-color: gray;
$banner-background:#F6F6F6;
$text-color: #000000;

/* police*/
*{
    font-family: 'Roboto', sans-serif;
  }
  h1{
    font-family: 'Shrikhand', serif;
    font-size: xx-large;
  }
  